<!-- Apropos -->
<section id="formation-tabs" class="bg-grey-clair padding-top-30 padding-bottom-80"  data-aos="fade" data-aos-delay="">
    <div class="container maxwidthmedium ">
        <ul class="nav nav-tabs flex-end " id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <div class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true"></div>
            </li>
            <li class="nav-item" role="presentation">
                <div class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false"></div>
            </li>
            <li class="nav-item" role="presentation">
                <div class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false"></div>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div class="row padding-top-30">
                    <div class="col-md-7">
                        <!--COMMANDES-->
                        <div class=" flex space-between items-center ">
                            <span class="lora size30 uppercase bold-font block lineheight30 padding-bottom-20"> <img src="/themes/custom/color_vintage/img/svg/panier.svg" style="width:26px;margin-right:20px;" />Mes commandes</span>
                            <a href="##" class="btn">Voir détails</a>
                        </div>
                        <div class="commandes">
                            {% for commande in commandes.commandesList  %}
                                <div class="commande border-top bg-white row flex items-center padding-30 ">
                                    <div class="col-6 col-sm-3">Date<span>{{ commande.date }}</span></div>
                                    <div class="col-6 col-sm-3">TOTal<span>{{ commande.prixTotal }} €</span></div>
                                    <div class="col-6 col-sm-3">Commande N°<span>{{ commande.numCommande }}</span></div>
                                    <div class="col-6 col-sm-3"><a href="/facture/{{ commande.id }}">Facture<span>Télécharger</span></a></div>
                                </div>
                            {% endfor %}
                        </div>
                        <!--COMMANDES-->
                        <!--PROGRAMMEs-->
                        <div class=" flex space-between items-center margin-top-80">
                            <span class="lora size30 uppercase bold-font block lineheight30 padding-bottom-20"> <img src="/themes/custom/color_vintage/img/svg/formation2.svg" style="width:26px;margin-right:20px;" />Mes formations</span>
                            <a href="##" class="btn">Voir détails</a>
                        </div>
                        <div class="commandes">
                            {% for formation in commandes.formations %}
                                <div class="commande border-top bg-white row flex items-center padding-30 ">
                                    <div class="col-6 col-sm-3">Formation<span>{{ formation.title }}</span></div>
                                    <div class="col-6 col-sm-3">Formateur<span>{{ formation.formateurs.prenom }} {{ formation.formateurs.nom }}</span></div>
                                    <div class="col-6 col-sm-3">documents<span>{{ formation.nbPDF }} PDF - {{ formation.nbVideos }} Vidéos - {{ formation.nbZoom }} Zoom</span></div>
                                    <div class="col-6 col-sm-3"><a href="##" class="btn">télécharger l’attestation</a></div>
                                </div>
                            {% endfor %}
                        </div>
                        <!--PROGRAMMEs-->
                    </div>
                    <div class="col-md-4 offset-md-1 bg-black padding-30">
                        <span class="lora size30 uppercase bold-font margin-top-30 margin-bottom-30  block lineheight30 white">Bonjour {{userInfo.prenom}}</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
                        <ul class="espace-mofis flex flex-column margin-top-80">
                            <li class="espace-nom">{{userInfo.prenom}} {{userInfo.nom}} <span class="modifier"></span></li>
                            <li class="espace-mail">{{userInfo.email}} <span class="modifier"></span></li>
                            <li class="espace-numero">00.00.00.00.00 <span class="modifier"></span></li>
                            <li class="espace-adresse">Adresse postale <br>34000 Montpellier <span class="modifier"></span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab" style="margin-top: 20px">
                <span class="lora size30 uppercase bold-font block lineheight30 padding-bottom-20"> <img src="/themes/custom/color_vintage/img/svg/panier.svg" style="width:26px;margin-right:20px;" />Mes commandes</span>
                <div>

                    {% for commande in commandes.commandes %}
                    <div>
                        <div class=" accordion-button commande border-top bg-white row flex items-center padding-30"  data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <div class="col-6 col-sm-3">Date<span>{{ commande.date }}</span></div>
                            <div class="col-6 col-sm-3">TOTal<span>{{ commande.prixTotal }} €</span></div>
                            <div class="col-6 col-sm-3">Commande N°<span>{{ commande.numCommande }}</span></div>
                            <div class="col-6 col-sm-3"><a href="/facture/{{ commande.id }}">Facture<span>Télécharger</span></a></div>
                        </div>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="row flex items-center">
                                <div class="col-sm-8 margin-bottom-10 ">
                                    {% for kit in commande.produits.kits %}
                                        <div class="row flex items-center">
                                            <div class="col-md-2 ">
                                                <a href="{{ kit.link }}"><img class="block text-center margin-auto  border-color-bottom" src="/themes/custom/color_vintage/img/kit1.jpg"></a>
                                            </div>
                                            <div class="col-md-3">
                                                <span class="uppercase block">{{ kit.title }}</span>
                                                <div class="flex space-between margin-bottom-30">
                                                    <span>Nombre: </span><span class="date">{{ kit.nombre }}</span><br>
                                                    <span class="date">{{ kit.prixTotal }}.00 €</span>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                                <div class="col-sm-4 ">
                                    <a href="##" class="btn">Suivre mon colis</a><a href="##" class="btn">Re-commander</a><a href="##" class="btn">Signaler un problème</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>



            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                <span class="lora size30 uppercase bold-font block lineheight30 padding-bottom-20"> <img src="/themes/custom/color_vintage/img/svg/formation2.svg" style="width:26px;margin-right:20px;" />Mes formations</span>
                <div>


                        {% for formation in commandes.formations %}
                            <div>
                                <div class=" accordion-button commande border-top bg-white row flex items-center padding-30"  data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-controls="collapseOne">
                                    <div class="col-6 col-sm-2">Nom de la Formation<span>{{ formation.title }}</span></div>
                                    <div class="col-6 col-sm-2">Formateur <span>{{formation.formateurs.prenom}} {{formation.formateurs.nom}}</span></div>
                                    <div class="col-6 col-sm-2">documents<span>{{ formation.nbPDF }} PDF - {{ formation.nbVideos }} Vidéos - {{ formation.nbZoom }} Zoom</span></div>
                                    <div class="col-6 col-sm-2"><a href="##" class="btn">télécharger l’attestation</a></div>
                                </div>
                                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                <script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
                                    {% for key, session in formation.sessions  %}
                                        <table class="tableau-formation sortable" width="100%" border="0" cellpadding="10" cellspacing="10">
                                            <thead>
                                            <tr>
                                                <td>Nom de la session: {{ session.titre }}</td>
                                                <td>Nom</td>
                                                <td>Type</td>
                                                <td>{#Temps de lecture#}</td>
                                                <td>{#statut#}</td>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% if session.video %}
                                                <tr>
                                                    <td class="video border-bottom"><img src="/themes/custom/color_vintage/img/formation.jpg"/></td>
                                                    <td>Titre vidéo</td>
                                                    <td>Vidéo</td>
                                                    <td>00:00</td>
                                                    <td><input type="hidden" name="download" value="{{ session.video }}"></td>
                                                    <td><a class="btn" href="##">télécharger</a></td>
                                                </tr>
                                            {% endif %}
                                            {% if session.docs %}
                                                <tr>
                                                    <td class="document border-bottom"><img src="/themes/custom/color_vintage/img/svg/document.svg"/></td>
                                                    <td>
                                                    {% for doc in session.docs %}
                                                        <input type="hidden" name="{{ formation.id~key }}" value="{{ doc.url }}">
                                                        <a target="_blank" href="{{ doc.url }}">{{ doc.name }}</a><br>
                                                    {% endfor %}
                                                    </td>
                                                    <td>PDF</td>
                                                    <td></td>
                                                    <td></td>
                                                    <td><span class="btn" onclick="download({{ formation.id~key }})">télécharger</span>{#<a class="btn" style="cursor: pointer" >télécharger</a>#}</td>
                                                </tr>
                                            {% endif %}
                                            {% if session.zoom %}
                                                <tr>
                                                    <td class="document border-bottom"><a target="_blank" href="{{session.zoom}}"><img src="/themes/custom/color_vintage/img/svg/exercice.svg"/></a></td>
                                                    <td></td>
                                                    <td>Zoom</td>
                                                    <td></td>
                                                    <td><input type="hidden" name="download" value="{{ session.zoom }}"></td>
                                                    <td><a target="_blank" class="btn" href="{{session.zoom}}">Play</a></td>
                                                </tr>
                                            {% endif %}
                                            </tbody>
                                        </table>
                                    {% endfor %}
                                </div>
                        </div>
                    {% endfor %}

                {#<div>
                    <div class=" accordion-button commande bg-white row flex items-center padding-30"  data-bs-toggle="collapse" data-bs-target="#collapseTwo"  aria-controls="collapseTwo">
                        <div class="col-6 col-sm-3">Date<span>00.00.00</span></div>
                        <div class="col-6 col-sm-3">TOTal<span>000,00 €</span></div>
                        <div class="col-6 col-sm-3">Commande N°<span>00000000</span></div>
                        <div class="col-6 col-sm-3"><a href="##">Facture<span>Télécharger</span></a></div>
                    </div>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                        </div>
                    </div>
                </div>
                <div >
                    <div class=" accordion-button commande bg-white row flex items-center padding-30"  data-bs-toggle="collapse" data-bs-target="#collapseThree"  aria-controls="collapseThree">
                        <div class="col-6 col-sm-3">Date<span>00.00.00</span></div>
                        <div class="col-6 col-sm-3">TOTal<span>000,00 €</span></div>
                        <div class="col-6 col-sm-3">Commande N°<span>00000000</span></div>
                        <div class="col-6 col-sm-3"><a href="##">Facture<span>Télécharger</span></a></div>
                    </div>
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                        </div>
                    </div>
                </div>#}
            </div>

        </div>
    </div>
    </div>
</section>
