<dialog id="window3">
    {#<button id="exit" class="close"></button>#}
    <h2 style="text-align: center">Confirmation d'inscription !</h2>
    <p style="text-align: center">Un mail de validation vous a été envoyé à votre adresse mail
        <br>Merci de bien vouloir confirmer votre inscription.
        <br>Pensez à vérifier vos spams.</p><br><br>
    <button id="exit3" class="fermer3">Fermer</button>
</dialog>

<!-- Apropos -->
<section class="bg-apropos-2 bg-black"  data-aos="fade" data-aos-delay="">
    <div class="container maxwidth ">
        <div class="container-fluid maxwidth padding-top-60 padding-bottom-20">
            <span class="size20 light-font uppercase lineheight20 block margin-bottom-20 text-center">profil</span>
            <h1 class="lora size50 uppercase white bold-font margin-bottom-30 block text-center" data-aos="fade-down" data-aos-delay="200">{{label}}</h1>
        </div>
    </div>
</section>
<!-- / Apropos-->


<div class="menu-right">
    <a href="##"><img src="/themes/custom/color_vintage/img/svg/deposer.svg" alt="###" style="max-width: 50px;margin-right: 40px;left: 3px;position: relative;">S’inscrire à la formation</a>
    <a href="##"><img src="/themes/custom/color_vintage/img/svg/question.svg" alt="###" style="max-width: 50px;left: 2px;
position: relative;">Lorem ipsum color</a>
</div>


<!-- Profil -->
<section id="Profil" class="relative" >
    <div class="container-fluid maxwidth  margin-top-80">
        <div class="row flex align">

            <div class="offset-md-0 col-md-6 offset-lg-1 col-lg-3 margin-top-60" data-aos="fade-left" data-aos-delay="">
                <div class="">
                    <img src="{{ file_url(node.field_icone.entity.fileuri) }}" alt="###" data-aos="fade-right" data-aos-delay="200" height="80" class="margin-right-30">
                    <p class="lora size30 uppercase bold-font margin-bottom-60 margin-top-20 block lineheight30">Votre profil</p>
                </div>
                    <div class="margin-bottom-30">{{ node.body.value|raw }}</div>
                 </div>
            <div class="offset-md-1 col-md-5 col-lg-5" >
                <img src="{{ file_url(node.field_image.entity.uri.value)}}" data-aos="fade-right" data-aos-delay="200">
            </div>
            <div class="col-2 col-md-1 flex flex-column items-center social flex-start margin-top-0">
                <a target="_blank" href="https://twitter.com/intent/tweet?url=https://color-vintage.gazolinecommunication.com&text={{ node.body.value|raw }}"><img src="/themes/custom/color_vintage/img/svg/twitter.svg" data-aos="fade-left" data-aos-delay="200"></a>
                {#<a href="##"><img src="/themes/custom/color_vintage/img/svg/youtube.svg" data-aos="fade-left" data-aos-delay="200"></a>#}
                <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{url('<current>')}}"><img src="/themes/custom/color_vintage/img/svg/facebook.svg" data-aos="fade-left" data-aos-delay="200"></a>
            </div>
        </div>
    </div>
</section>
<!-- / Profil -->



<!-- Solution -->
<section class="bg-solution margin-top-120"  data-aos="fade" data-aos-delay="" style="background-image: url({{ file_url(node.field_solution_image.entity.uri.value) }})" >
    <div class="container maxwidth ">
        <div class="container-fluid maxwidth padding-top-120 padding-bottom-120">
            <div class="row">
                <div class="offset-md-7 col-md-3">
                    <h2 class="lora size30 white uppercase bold-font margin-bottom-30 block" data-aos="fade-down" data-aos-delay="200">
                        {{ node.field_solution_title.value }}</h2>
                    <div class="margin-bottom-30 white" data-aos="fade-down" data-aos-delay="250">{{ node.field_solution_description.value|raw }}</div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / Solution-->



<!-- formation -->
<section id="formation-home" class="margin-top-120 margin-bottom-120">
    <div class="container-fluid maxwidth">
        <h2 class="lora size30 uppercase bold-font margin-bottom-100 block lineheight30 text-center">Ils ont été formés</h2>

        <div class="row flex align">

            {% for item in temoignes %}
                <div class="offset-md-1 col-md-4  border-color-bottom">
                    <div class="row">
                        <div class="offset-md-0  col-md-6"><img  src="{{ item.image }}" data-aos="fade-right" data-aos-delay="200" class="margin-auto block"></div>
                        <div class="offset-md-0 col-md-6"  data-aos="fade-down" data-aos-delay="300">
                            <span class="size20 light-font uppercase lineheight20 block margin-top-100  margin-bottom-20">{{ item.nom }} {{ item.prenom }}</span>
                            <div class="margin-bottom-30">{{ item.body|raw }}</div>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
        <span class="margin-top-120 block">
        <a href="/temoignages" class="btn margin-auto block">Découvrir les témoignages</a>
    </span>
    </div>
</section>
<!-- / formation -->

<!-- equipe -->
<section id="equipe" class="margin-top-120 margin-bottom-120">
    <div class="container-fluid maxwidth">
        <div class="row flex align">
            <div class="col-md-12 margin-bottom-60" data-aos="fade-down" data-aos-delay="">
                <h2 class="lora size30 uppercase bold-font margin-bottom-30 block lineheight30 text-center">Les formations<br>qui vous correspondent</h2>

            </div>
            <div class="offset-md-1 col-md-4">
                <div class="row">
                    <div class="col-md-12"><img  src="/themes/custom/color_vintage/img/form1.jpg" data-aos="fade-right" data-aos-delay="200" class="margin-auto block " ></div>
                    <div class="offset-md-2 col-md-10"  data-aos="fade-down" data-aos-delay="300">
                        <span class="lora size30 uppercase bold-font margin-bottom-10 margin-top-30 block lineheight30 ">DESIGNER<br>DU REGARD</span>
                        <span class="margin-top-30 block border-color-bottom padding-bottom-40">
									<a href="##" class="btn">S’inscrire à la formation</a>
								</span>
                    </div>
                </div>
            </div>
            <div class="offset-md-2 col-md-4">
                <div class="row ">
                    <div class="col-md-12 "><img  src="/themes/custom/color_vintage/img/form2.jpg" data-aos="fade-right" data-aos-delay="200" class="margin-auto block "></div>
                    <div class="offset-md-2 col-md-10"  data-aos="fade-down" data-aos-delay="300">
                        <span class="lora size30 uppercase bold-font margin-bottom-10 margin-top-30 block lineheight30 ">RESTRUCTURation<br>DES SOURCILS</span>
                        <span class="margin-top-30 block border-color-bottom padding-bottom-40">
									<a href="##" class="btn">S’inscrire à la formation</a>
								</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / equipe -->




<section class="actus-home padding-top-120 padding-bottom-120 bg-grey-clair">
    <div class="container-fluid maxwidth" >
        <h2 class="lora size30 uppercase bold-font margin-bottom-30 block lineheight30 text-center">Nos dernières actus</h2>

        <div class="show padding-top-80">
            <div class="slide-actus">
                {% for item in articles %}
                    <div class="hovereffect text-center">
                        <div>
                            <div class="overlay"></div>
                            <img class="block text-center margin-auto" src="{{item.image}}" >
                        </div>
                        <a href="{{item.link}}"><span class="size20 light-font uppercase text-center lineheight20 block margin-top-30 margin-bottom-20">{{ item.title }}</span></a>
                        <div class="size13 block text-center lineheight15 block">{{item.body|slice(0, 120)|raw}}</div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <span class="margin-top-120 block">
		<a href="/actualites-conseils-beaute" class="btn margin-auto block">toutes les actualités et conseils</a>
	</span>
    </div>
</section>
<!--  Actus -->
{#<section class="actus-home padding-top-120 padding-bottom-120 bg-grey-clair">
    <div class="container-fluid maxwidthsmall" >
        <h2 class="lora size30 uppercase bold-font margin-bottom-30 block lineheight30 text-center">Nos actus sur le sujet</h2>

        <div class="show padding-top-80">
            <div class="slide-actus">

                <a href="##" class="hovereffect text-center">
                    <div>
                        <div class="overlay"></div>
                        <img class="block text-center margin-auto" src="/themes/custom/color_vintage/img/actu.jpg" >
                    </div>
                    <span class="size20 light-font uppercase text-center lineheight20 block margin-top-30 margin-bottom-20">Tout savoir sur la colle des extensions de cils</span>
                    <p class="size13 block text-center  lineheight15 block " >Comment choisir sa colle pour les extensions de cils ? Il est primordial de bien choisir sa colle pour la...</p>
                </a>
                <a href="##" class="hovereffect text-center">
                    <div>
                        <div class="overlay"></div>
                        <img class="block text-center margin-auto" src="/themes/custom/color_vintage/img/actu.jpg" >
                    </div>
                    <span class="size20 light-font uppercase text-center lineheight20 block margin-top-30  margin-bottom-20">Tout savoir sur la colle des extensions de cils</span>
                    <p class="size13 block text-center">Comment choisir sa colle pour les extensions de cils ? Il est primordial de bien choisir sa colle pour la...</p>
                </a>
                <a href="##" class="hovereffect text-center">
                    <div>
                        <div class="overlay"></div>
                        <img class="block text-center margin-auto" src="/themes/custom/color_vintage/img/actu.jpg" >
                    </div>
                    <span class="size20 light-font uppercase text-center lineheight20 block margin-top-30  margin-bottom-20">Tout savoir sur la colle des extensions de cils</span>
                    <p class="size13 block text-center">Comment choisir sa colle pour les extensions de cils ? Il est primordial de bien choisir sa colle pour la...</p>

                </a>
                <a href="##" class="hovereffect text-center">
                    <div>
                        <div class="overlay"></div>
                        <img class="block text-center margin-auto" src="/themes/custom/color_vintage/img/actu.jpg" >
                    </div>
                    <span class="size20 light-font uppercase text-center lineheight20 block margin-top-30  margin-bottom-20">Tout savoir sur la colle des extensions de cils</span>
                    <p class="size13 block text-center">Comment choisir sa colle pour les extensions de cils ? Il est primordial de bien choisir sa colle pour la...</p>
                </a>
                <a href="##" class="hovereffect text-center">
                    <div>
                        <div class="overlay"></div>
                        <img class="block text-center margin-auto" src="/themes/custom/color_vintage/img/actu.jpg" >
                    </div>
                    <span class="size20 light-font uppercase text-center lineheight20 block margin-top-30  margin-bottom-20">Tout savoir sur la colle des extensions de cils</span>
                    <p class="size13 block text-center">Comment choisir sa colle pour les extensions de cils ? Il est primordial de bien choisir sa colle pour la...</p>
                </a>
            </div>
        </div>
    <span class="margin-top-120 block">
        <a href="##" class="btn margin-auto block">toutes les actualités et conseils</a>
    </span>
    </div>
</section>#}
<!--  / Actus -->